<!-- start header -->
<header class="main-header" style="background-image: url({{ '/images/bg_tiles.jpg' | prepend: site.baseurl | replace: '//', '/'}});">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- start logo -->
        <a href="" class="branding">
          <img src="{{'/images/dog-logo.svg' | prepend: site.baseurl | replace: '//', '/'}}" alt=""/>
        </a>
        <h2 class="text-hide">王士江的博客，学习认真活着。</h2>
      </div>
      <div class="slogan col-sm-12">
        <p>我的视界，我的世界</p>
        <p>My Word, My World</p>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
