/* post */
/*====================================================
	main post area
====================================================*/
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .featured {
  position: absolute;
  background: #e67e22;
  color: #ffffff;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  font-size: 2.5em;
  line-height: 1em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  color: #e67e22;
  text-decoration: none;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 14px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .featured-media img {
  width: 100%;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.post .post-footer .tag-list {
  color: #959595;
  line-height: 28px;
}
.post .post-footer .tag-list a {
  color: #959595;
  margin-left: 7px;
}
.post .post-footer .tag-list a:hover {
  color: #e67e22;
}
/* post content */
/*====================================================
  main post content
====================================================*/
.post-content {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: #222223;
}
.post-content h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}
.post-content > h1 {
  margin-top: 0;
  font-size: 2em;
}
.post-content h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.post-content h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
.post-content h6 {
  font-weight: 500;
}
.post-content p {
  margin-top: 0;
  margin-bottom: 1.46em;
}
.post-content a {
  word-wrap: break-word;
  -moz-text-decoration-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: rgba(0, 0, 0, 0.4);
}
.post-content a:hover {
  -moz-text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-color: rgba(0, 0, 0, 0.6);
}
.post-content a img {
  /* Remove border on IE */
  border: none;
}
.post-content strong,
.post-content b {
  font-weight: 700;
  color: #222223;
}
.post-content em,
.post-content i {
  font-style: italic;
  color: #222223;
}
.post-content img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}
.post-content figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}
.post-content figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post-content figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}
.post-content figure figcaption a {
  text-decoration: none;
  color: #666665;
}
.post-content hr {
  display: block;
  width: 50%;
  height: 1px;
  border: 0 none;
  border-top: #dededc 1px solid;
  margin: 3.2em auto;
  padding: 0;
}
.post-content blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid #e67e22;
  padding-left: 12px;
  color: #666664;
}
.post-content blockquote a {
  color: #666664;
}
.post-content ul,
.post-content ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}
.post-content ul {
  list-style-type: square;
}
.post-content ol {
  list-style-type: decimal;
}
.post-content li {
  margin-bottom: 0.2em;
}
.post-content li ul,
.post-content li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}
.post-content li ul {
  list-style-type: disc;
}
.post-content li ul ul {
  list-style-type: circle;
}
.post-content li p {
  margin: 0.4em 0 0.6em;
}
.post-content .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-content code,
.post-content tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
}
.post-content pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}
.post-content pre code,
.post-content pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}
.post-content table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.post-content th,
.post-content td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}
.post-content td {
  vertical-align: top;
}
.post-content tr:nth-child(even) {
  background-color: #efefee;
}
.post-content iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
.post-content figure iframe {
  margin: auto;
}
.post-content table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
@media (min-width: 1100px) {
  .post-content blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;
  }
  .post-content blockquote blockquote {
    margin-left: 0;
  }
  .post-content figure img {
    margin: 0 0 4px;
  }
  .post-content figure figcaption {
    position: absolute;
    left: -172px;
    width: 150px;
    top: 0;
    text-align: right;
    margin-top: 0;
  }
  .post-content figure figcaption:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid #dededc;
    display: block;
    content: "";
    margin-bottom: 10px;
  }
}
.windows .post-content {
  font-size: 16px;
  font-family: "Georgia", "SimSun", sans-serif;
}