---
layout: default
title: 学习笔记
---
{% for post in site.categories.notes %}
<article class="post {% if post.featured %} feature {% endif %}">
    {% if post.featured %}
    <div class="featured" title="推荐文章">
        <i class="fa fa-start"></i>
    </div>
    {% endif %}

    <div class="post-head">
        <h1 class="post-title">
            <a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">{{post.title}}</a>
        </h1><!-- post-title -->

        <div class="post-meta">
            <span class="author">作者：<a href="/about">{{post.author}}</a></span> &bull;
            <time class="post-date" datetime="{{post.date | date_to_string}}" title="{{post.date | date_to_string}}">{{post.date | date_to_string}}</time>
        </div><!-- post-meta -->
    </div>

    {% if post.mediaImage %}
    <div class="featured-media">
        <a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">
            <img src="{{post.mediaImage | prepend: site.baseurl | replace: '//', '/'}}" alt="{{post.title}}"/>
        </a>
    </div><!-- featured-media -->
    {% endif %}

    <div class="post-content">
        <p>{{post.excerpt}}</p>
    </div>

    <div class="post-permalink">
        <a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}" class="btn btn-default">阅读全文</a>
    </div>
</article><!-- post -->
{% endfor %}
