<!DOCTYPE html>
<html>

{% include head.html %}

<body class="home-template post-template page-template">
{% include header.html %}

{% include navigation.html %}

<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                {{ content }}
            </main>
            <!-- main-content -->

            {% include sidebar.html %}
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section><!-- content-wrap -->

{% include footer.html %}

{% include copyright.html %}

{% include scripts.html %}

</body>

</html>
